.AirNZContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: calc(100vh - 12.5vw);
  background-color: var(--grey-900);
  position: relative;
  overflow: hidden;
  gap: 2rem;

  h1 {
    font-size: clamp(2rem, 8vw, 10rem);
    width: clamp(320px, 50vw, 700px);
    font-weight: 600;
    color: var(--grey-100);
    line-height: 0.8;
  }

  .AirNZVideo {
    height: 100%;
    width: auto;
    display: flex;
  }

  .allImagesText {
    width: auto;
    display: flex;
    gap: 2rem;
    height: calc(100vh - 12.5vw);

    .beforeAfterContainer {
      height: 100%;
      position: relative;
      display: flex;
      gap: 0.5rem;

      img {
        height: 100%;
        object-fit: cover;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      .after,
      .before {
        background-color: #981d97;
        padding: 0.5rem 1rem;
        max-width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .textContent {
          height: 100%;
          width: 100%;

          h3 {
            font-size: 1.5rem;
            color: var(--grey-100);
            margin-bottom: 1rem;
          }

          p {
            font-weight: 500;
            color: var(--grey-100);
          }
        }

        .imageContainer {
          overflow-y: scroll;
          height: 100%;
          width: 100%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
          }
        }
      }
    }
  }
}
