.AirNZContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: calc(100vh - 12.5vw);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: var(--grey-900);
  position: relative;
  overflow: hidden;
  gap: 2rem;

  h1 {
    font-size: 10rem;
    width: clamp(320px, 50vw, 600px);
    font-weight: 600;
    color: var(--grey-100);
    line-height: 0.8;
  }

  .AirNZVideo {
    position: relative;
    left: 100px;
    bottom: -80px;
    height: 90%;
    width: auto;
  }

  .airnzImages {
    padding: 0 2rem;
    width: auto;
    position: relative;
    left: 100px;
    display: flex;
    height: calc(100vh - 12.5vw);

    .airnzTextImgContainer {
      height: 100%;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      .airnzAfterImg {
        position: relative;
        bottom: 0;
        height: 30%;
        width: auto;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      .airnzText {
        background-color: #981d97;
        padding: 0.5rem 1rem;
        position: absolute;
        top: -20px;
        left: 20px;
        max-width: 320px;
        height: 100%;

        h3 {
          font-size: 1.5rem;
          color: var(--grey-100);
          margin-bottom: 1rem;
        }
      }
    }
  }
}
