.asobiContainer {
  display: flex;
  align-items: flex-start;
  background-color: var(--grey-900);
  position: relative;
  width: auto;
  height: 100%;

  h1 {
    font-size: clamp(1.5rem, 10vw, 5rem);
    line-height: 0.95;
    font-weight: 600;
    width: clamp(320px, 50vw, 420px);
    color: var(--grey-100);
  }
  .designReasoning {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: clamp(500px, 50vw, 690px);
    align-items: center;

    .designReasoningContent {
      max-width: 320px;

      h2 {
        color: var(--grey-100);
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }

      p {
        color: var(--grey-300);
        font-size: 1rem;
        margin-bottom: 20px;
      }

      hr {
        width: 100%;
        height: 1px;
        background-color: var(--grey-300);
        border: none;
        margin: 20px 0;
      }

      .tech-icons {
        display: flex;
        gap: 2rem;
        margin: 0.75rem 0;
        align-items: center;

        img {
          width: 36px;
          height: 36px;
          object-fit: contain;
        }

        .figma {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .asobiVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    width: auto;
    height: 100%;
  }
}
