.temp-content {
  width: 100%;
  height: 100%;
  max-width: 600px;
  background-color: var(--grey-900);
  color: var(--grey-100);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
