.dacreedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  height: 100%;
  max-width: 600px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-900);
}

.dacreedContainer {
  width: 100%;
  height: auto;
  background-color: var(--grey-900);
  color: var(--grey-100);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  // overflow: hidden;

  img {
    filter: blur(20px);
  }

  .first {
    height: calc(100vh - 12.5vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      width: 600px;
    }
    h3 {
      padding: 0;
    }
    .whatHappened {
      text-align: left;
      padding: 2rem;
      backdrop-filter: blur(1rem);
      // border: 1px solid var(--grey-700);
    }
  }

  .second {
    position: relative;
    width: 100%;
    height: calc(100vh - 12.5vw);
    display: flex;
    justify-content: center;
    align-items: center;

    .before {
      position: absolute;
      top: 0;
      left: 25%;
      transform: translate(-50%, 0);
      width: 800px;
      height: auto;
    }

    .after {
      position: absolute;
      right: 25%;
      transform: translate(50%, 0);
      width: 800px;
      height: auto;
    }

    .afterMobile {
      position: absolute;
      transform: translatY(90%);
      width: 200px;
      height: auto;
    }

    .m1 {
      right: 30%;
      transform: translateX(50%);
    }
    .m2 {
      right: 35%;
      transform: translateX(50%);
    }
  }

  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;

    .flowchart {
      width: 60%;
      height: auto;
    }
  }
}
