// .digihi {
//   background-color: var(--digihi-blue);
// }

.mainContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: calc(100vh - 12.5vw);
  position: relative;
  overflow: hidden;
  gap: 1rem;

  .topicBlock {
    background-color: var(--digihi-blue);
    width: clamp(320px, 100vw, 800px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;

    .context {
      width: clamp(300px, 100%, 500px);
      background-color: var(--digihi-blue);

      .bold {
        font-weight: 600;
      }

      h3 {
        font-size: 1.5rem;
        color: var(--grey-100);
      }
    }
  }

  .intro {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: auto;
    gap: 1rem;

    .videoContext {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1rem;

      video {
        border-radius: 0;
        height: 100%;
        width: auto;

        @media screen and (min-width: 700px) {
          max-width: 700px;
        }
      }

      .textOverVideo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 49%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        mix-blend-mode: difference;
      }
    }

    .context {
      width: 300px;
      padding: 0.25rem;
      height: 100%;
      background-color: var(--digihi-blue);

      .bold {
        font-weight: 600;
      }

      h3 {
        font-size: 1.5rem;
        color: var(--grey-100);
      }

      .reasoningText {
        padding: 1rem;
        font-size: 1.2rem;
        color: var(--grey-500);

        small {
          display: block;
          margin: 0.5rem 0;
        }
      }
    }

    .analysis {
      background-color: var(--digihi-blue);
      width: auto;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0 1rem;

      .analysisCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 2rem 0.25rem;
        height: 50%;
        width: auto;
        aspect-ratio: 1 / 1;

        transition: all 0.3s ease-in-out;

        &:hover {
          // background-color: var(--grey-800);
          transform: scale(1.01);
        }

        p {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
    // .lightTheme {
    //   background-color: var(--grey-100);
    //   color: var(--grey-900);
    //   h3 {
    //     color: var(--grey-900);
    //   }
    //   .analysisCard:hover {
    //     background-color: var(--grey-200);
    //   }
    // }
  }
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
