.digihiContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: calc(100vh - 12.5vw);
  background-color: var(--grey-900);
  position: relative;
  overflow: hidden;
  gap: 2rem;

  .digihiHeader {
    width: clamp(320px, 50vw, 800px);
    height: 100%;
    background-color: var(--digihi-blue);

    h1 {
      font-size: clamp(3rem, 10vw, 8rem);
      color: var(--grey-100);
      line-height: 0.8;
      display: block;
      margin-bottom: auto;
      z-index: 1;
    }

    a {
      text-decoration: none;
      background-color: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      margin-top: 1rem;

      button {
        background-color: var(--digihi-blue);
        border: 1px solid var(--grey-100);
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--grey-900);
        }
      }
    }
  }

  .intro {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: auto;
    background-color: var(--grey-900);

    .videoContext {
      display: flex;
      flex-direction: column;
      position: relative;

      video {
        border-radius: 0;
        height: 100%;
        width: auto;
        max-width: 700px;
        // margin: 1rem 0;
      }

      .textOverVideo {
        position: absolute;
        top: 48%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 2;
        mix-blend-mode: difference;
      }
    }

    .context {
      width: 300px;
      padding: 0.25rem;
      height: 100%;

      .bold {
        font-weight: 600;
      }

      h3 {
        font-size: 1.5rem;
        color: var(--grey-100);
      }

      .reasoningText {
        padding: 1rem;
        font-size: 1.2rem;
        color: var(--grey-500);

        small {
          display: block;
          margin: 0.5rem 0;
        }
      }
    }

    .analysis {
      width: auto;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0 1rem;

      .analysisCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 2rem 0.25rem;
        height: 50%;
        width: auto;
        aspect-ratio: 1 / 1;

        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--grey-800);
          transform: scale(1.01);
        }

        p {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
    .lightTheme {
      background-color: var(--grey-100);
      color: var(--grey-900);
      h3 {
        color: var(--grey-900);
      }
      .analysisCard:hover {
        background-color: var(--grey-200);
      }
    }
  }
}
