.temp-content {
  width: auto;
  height: 100%;
  background-color: var(--grey-900);
  color: var(--grey-900);
  display: flex;

  .h1Card {
    width: clamp(320px, 50vw, 705px);
    height: 100%;
    color: #3be38b;
    display: flex;
    flex-direction: column;
    position: relative;

    .contentCard {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50%;

      small {
        color: var(--grey-900);
      }
    }

    h1 {
      font-size: clamp(1.5rem, 10vw, 6.5rem);
      font-weight: 400;
      line-height: 0.8;
    }
  }

  .contentCard {
    background-color: #3be38b;
    padding: 0.5rem 1rem;
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .textContent {
      height: 20%;
      width: 100%;
      text-align: left;

      .greyText {
        color: var(--grey-600);
        font-weight: 400;
        strong {
          color: var(--grey-900);
          font-weight: 500;
        }
      }

      h3 {
        font-size: 1.5rem;
        color: var(--grey-900);
        margin-bottom: 2rem;
        line-height: 0%;
      }

      p {
        font-weight: 500;
        color: var(--grey-900);
      }

      li {
        text-align: left;
        font-weight: 500;
        color: var(--grey-900);
      }

      .userGroups {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          font-weight: 500;
          color: var(--grey-900);
          margin-bottom: 0.5rem;
        }

        .userGroup {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          p,
          small {
            margin: 0;
            // line-height: 0%;
          }
        }
      }
    }

    .imageContainer {
      overflow-y: scroll;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
    }
  }
}
