.trademeContanier {
  display: flex;
  height: 100%;
  width: auto;
  background-color: var(--grey-900);
  position: relative;

  .kiwiBirdContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;

      h1 {
        // font-size: clamp(2rem, 8vw, 8rem);
        font-weight: 600;
        color: var(--grey-100);
        line-height: 0.8;
      }
    }
  }

  .listingCards {
    display: flex;
    gap: 2rem;
    height: 70%;
    width: auto;
    position: relative;
    bottom: 0px;

    .textImgContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 300px;
      overflow-y: scroll;

      .sectionBg {
        background-color: #ffb00b;
        width: 100%;
        height: 100%;
        padding: 0 1rem;

        h4 {
          width: 100%;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2;
          color: var(--grey-900);
        }

        p {
          width: 100%;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.2;
          color: var(--grey-900);
        }
      }

      p {
        width: 300px;
        font-size: 1.15rem;
        color: var(--grey-200);
      }

      .kiwibird {
        height: 30%;
        object-fit: contain;
        z-index: 1;
      }
    }
  }
}
