.AirNZContainer {
  display: flex;
  // flex-direction: column;
  align-items: center;
  padding: 20px;
  width: auto;
  height: calc(100vh - 240px);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: var(--grey-900);

  h1 {
    font-size: 10rem;
    width: clamp(320px, 50vw, 600px);
    font-weight: 600;
    color: var(--grey-100);
    line-height: 0.8;
  }
}

.AirNZVideo {
  height: 90%;
  width: auto;
  // border-radius: 8px;
  // margin-bottom: 20px;
  translate: 200px 80px;
}
